<h3>Let's connect!</h3>
<p><a href="tel:6473365062"><i class="fa-solid fa-phone"></i> (647)336-5062 </a><br>
<a href="mailto:nvelikai@my.centennialcollege.ca"><i class="fa-solid fa-envelope"></i> nvelikai@my.centennialcollege.ca </a><br>
<a href="https://www.linkedin.com/in/nadia-velikaia/"><i class="fa-brands fa-linkedin-in"></i> LinkedIn </a><br>
<a href="https://github.com/nvelikaia"><i class="fa-brands fa-github"></i> GitHub </a>
</p>