<h2>Welcome!</h2>
<p>Hello! Hello! My name is Nadia Velikaia and I am a Software Engineering Technician student at Centennial College.
My areas of interest include data science and analytics, full-stack programming and web application development.
Follow below link to learn more about my journey to IT.<br>
<a href="/about">About</a> 
</p>